{% extends 'ChromoGraph/base.html' %}
{% block formes %}
<form method="post" enctype="multipart/form-data"
  style="width:21em; border: 5px black solid; padding: 5px; margin: 1.5em 2em;">
  {% csrf_token %}
      <p>
          {{ form.as_p }}
          <input type="submit" value="Upload">
      </p>
  </form>
{% endblock %}

{% block content %}
{#    <p><a href={% url 'ChromoGraph:storage' %}'>Link to storage</a></p>#}
{% if filename|length == 1 %}
    {% for n in filename %}

    {% load static %}
    <img src={% static n %} alt="Kurwa" height="666" width="1000"
    style="position: absolute; top: 9%; right: 2em;">
    <p><a href='static/{{ n }}' download style="position:absolute; bottom: 6.5%; left: 39%">link to image</a></p>

    {% endfor %}
    {% else %}

    <ul style="position: absolute; top: 9%; right: 2em;">
    {% for n in filename %}

        <li><a href='static/{{ n }}'>{{ n }}</a></li>
        {% endfor %}
        {% if zip %}
            <li><a href='static/{{ zip }}' download>ZIP ARCHIVE</a></li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}
